# Maven output
/target

# Eclipse
.classpath
.project
.settings
/bin

# Spring Roo
log.roo

# HSQLDB
coding-task-checker.log
coding-task-checker.lck
coding-task-checker.properties
coding-task-checker.script
